/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  *:not(dialog) {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */


@font-face {
    font-display: swap; 
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/space-grotesk-v22-latin-regular.woff2') format('woff2');
  }


@font-face {
    font-display: swap; 
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/ibm-plex-sans-v23-latin-regular.woff2') format('woff2'); 
  }

  
@font-face {
    font-display: swap; 
    font-family: 'Geist Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/geist-mono-v4-latin-regular.woff2') format('woff2'); 
  }




  #root, #__next {
    isolation: isolate;
  }

  :root {
    --bg-color: #BABABA;
    --font-color: #242524;
    --red: #FF5A44;
  }

  body {
    background-color: var(--bg-color);
  }

  .header {
    display: flex;
    flex-direction: row;
  }

  .nav__menu__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }