/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 400;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    10. Create a root stacking context
  */

@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/space-grotesk-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/ibm-plex-sans-v23-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/geist-mono-v4-latin-regular.woff2") format("woff2");
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --red: #fc3aa4;
  --yellow: #ffe040;
  --violet: #e0b0ff;
  --green: #afe1af;
  --orange: #ffb98a;
  --black: #222222;
  --grey: #b8b8b990;
  --white: #f5f5f3;
}

body {
  --vertical-lines: repeating-linear-gradient(to right, var(--grey) 0 1px, transparent 1px 10px);
  --horizontal-lines: repeating-linear-gradient(to bottom, var(--grey) 0 1px, transparent 1px 10px);
  background-color: var(--white);
  background-image: var(--vertical-lines), var(--horizontal-lines);
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  border-bottom: 2px solid var(--black);
  background-color: var(--white);
}

.header__title {
  font-family: "Space Grotesk", Helvetica, sans-serif;
  font-weight: 400;
  font-size: xx-large;
}

/* Navigation bar */

.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  border-bottom: 2px solid var(--black);
}

.nav__menu__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar__item {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: medium;
  margin: 0 1rem 0 1rem;
  border: 0.5px solid #0f0f0e;
  box-shadow: 0px 2px 2px #888;
  padding: 0.33rem;
  background-color: var(--white);
}

a:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px #888;
  transition: ease 0.3s;
  background-color: var(--orange);
  color: var(--font-color);
}

.navbar__item:hover .card * {
  font-family: "Geist Mono", Helvetica, sans-serif;
}

/* description section */
.web-description {
  padding: 1rem 0 1rem 0;
  margin: 0 1rem 0 1rem;
}

.description-question {
  background-color: var(--white);
  width: fit-content;
}

.description-answer {
  background-color: var(--white);
  width: fit-content;
}

.examples {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.description-example {
  background-color: var(--white);
  margin-top: 1rem;
  border: 0.5px solid var(--black);
}

.description-icon {
  width: 40px;
  height: 40px;
}

/* bento-grid & bento-cards */
.bento-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  border-collapse: separate;
  gap: 1rem;
  margin: 0 1rem 0 1rem;
}

.card * {
  font-family: "Geist Mono", Helvetica, sans-serif;
}

.card {
  border-collapse: collapse;
  padding: 1rem;
  border: 0.5px solid var(--black);
  background-color: var(--white);
}

.card-header {
  margin: 0 0.33rem 0 0.33rem;
}
/* card elements */
.card-title {
  font-weight: 400;
  font-size: large;
  border: 0.5px solid #0f0f0e;
  padding: 0.33rem;
}

.card-description {
  font-size: small;
  padding: 0.33em 0;
}

.card-title:hover {
  cursor: pointer;
  transition: ease 0.3s;
  background-color: var(--orange);
  color: var(--font-color);
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-insight {
  font-size: small;
}

/* footer */

.donate-icon {
  width: 20px;
  height: 20px;
}
